body{
    font-family: 'Merriweather', serif;
    font-weight: 500;
}
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.primary-color{
    background-color: #d6d6d68c;
}
a{
    text-decoration:none!important;
}
.topbar-menu{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.hero-title{
    font-size: 48px;
}
.hero-text{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}
.hero-card{
    background-color: rgba(0, 0, 0, 0.434);
}
.button-one{
    background-color: white;
    font-size: 16px;
}

.section-title{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: #091154;
}
.courses-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.course-text{
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}
.course-button{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    background-color: white;
    color: black;
}
.step-card{
    border-radius: 12px;
    background: var(--neutral-white-g-20, #F5F5F6);
    box-shadow: 32px 32px 64px 0px rgba(52, 64, 84, 0.08);
}
.step-card-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.step-card-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.testimonial-background{
    background-color: #091154;
}
.testimonial-text{
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}
.student-name{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.student-dept{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}
.choose-card-1{
    box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
    background-image: url("/asset/card1.png");
    background-size: cover;
    border: none!important;
}
.choose-card-2{
    box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
    background-image: url("/asset/card2.png");
    background-size: cover;
    border: none!important;
}
.choose-card-3{
    box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
    background-image: url("/asset/card3.png");
    background-size: cover;
    border: none!important;
}
.choose-card-4{
    box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
    background-image: url("/asset/card4.png");
    background-size: cover;
    border: none!important;
}
.choose-card-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
}
.choose-text{
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    text-align: center;
}
.community-card-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.community-card-text{
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}
.community-button{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: black;
}
.news-card-title{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: #EC8081;
}
.news-card-date{
    color:#A3A6AC;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    text-align: right;
}
.news-content{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.news-button{
    color: #A3A6AC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.event-date{
    text-align: right;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    background-color: #091154;
    color: white;
}
.event-card-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.event-card-text{
    color:#3B424E;
    font-family: Merriweather;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    padding-bottom: 10px;
}
.get-in-touch-text{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}
.get-in-touch-button{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    border-radius: 8px;
    border: 1px solid #DEDFE1;
    background: var(--white, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
footer{
    background-color: #091154;
}
.footer-heading{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.footer-text{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}
.social-icons{
    color: white!important;
}
.footer-mailbox{
    border-radius: 4px;
    border: 1px solid #DEDFE1;
    background: var(--gray-700, #344054);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.footer-button{
    border-radius: 4px;
    border: 1px solid #DEDFE1;
    background: var(--brand-blue-1-b-300, #0F1C89);

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.footer-bottom-text{
    color:#A3A6AC;
    text-align: center;
    font-family: Merriweather;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.testimonial-section{
    position: relative;
}
.testimonial-image{
    position: absolute;
    bottom: 0;
    z-index: 1;
}
/* Default styles */

#student-login,
#staff-login {
  display: inline; /* Ensure the buttons are displayed inline */
}

/* Mobile styles */

@media (max-width: 767px) {
  #student-login,
  #staff-login,
  .topbar-menu {
    display: none; /* Hide the buttons on mobile */
  }
  .testimonial-image{
    display: none;
  }
    .testimonial-image-mobile{
        display: block;
    }
}
.testimonial-image-mobile{
    display: none;
}