body{
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

a{
    text-decoration:none!important;
}
.topbar-menu{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.hero-title{
    font-size: 48px;
}
.hero-card{
    background-color: rgba(0, 0, 0, 0.434);
}
.button-one{
    background-color: white;
    font-size: 16px;
}
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.primary-color{
    background-color: #d6d6d68c;
}
